{% block homehelp %}
    <div class="well">
        <h3>{% trans "Tutorials" %}</h3>
        <ul class="unstyled link-list">
            <li><h3><a href="http://docs.datawrapper.de/en/quickstart/">{% trans "Datawrapper overview" %}</a></h3></li>
            <li><h3><a href="http://docs.datawrapper.de/en/tutorial/">{% trans "Official datawrapper tutorial" %}</a></h3></li>
        </ul>
    </div>
{% endblock %}
