{% extends "core.twig" %}

{% block content %}

    {% if config.custom_home %}

        {% include "custom/" ~ config.custom_home ~ ".twig" %}
        {{ block('home') }}

    {% else %}
        <div class="row">
             <div class="span8 offset2">
                <p style="font-size:36px;font-weight:300;line-height:42px">Datawrapper @ The Washington Post</p>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                {% embed "home-login.twig" %}{% endembed %}
            </div>
            <div class="span6">
                {% embed "home-help.twig" %}{% endembed %}
            </div>
        </div>

    {% endif %}

{{ parent() }}

{% endblock %}
